/*Widhts Heights */
@use '../../../base/widths_heights/widths_heights'as wdt_hgt;
/* Display */
@use '../display/display'as display;
/*Padding - Margins */
@use '../../../utilities/common/paddings/paddings'as pad;
@use '../../../utilities/common/margins/margins'as mar;
/* Colors */
@use '../../../utilities/common/colors/colors'as color;
/* Font properties */
@use '../../../utilities/common/font_properties/fonts'as font;
@use '../../../utilities/common/font_properties/_font_sizes.scss'as font_size;
@use '../../../utilities/common/font_properties/font_weights'as font_weight;
@use '../../../utilities/common/font_properties/font_alignment'as font_alignment;
/* Mixins */
@use '../../../utilities/common/mixins/mixins'as *;


/*HERE ARE THE REUSABLE CLASES */

.bottom-fixed {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 20rem);
    height: 4rem;
    background-color: #D5D7DD;
    z-index: 1030;
    transition: all 0.5s;
}

.hr-white {
    border-color: white;
    width: 75%;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.separar-cintillo {
    width: 100%;
    padding-bottom: 120px;
}


.band-sponsors {
    background: #fff;
    margin: auto;
    width: 20rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 1em;
    padding-top: 5px;
    transition: 0.5s;
}

.band-sponsors-resp {
    background: #fff;
    margin: auto;
    width: 100%;
    overflow: hidden;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    padding-left: 1em;
    padding-top: 5px;
    transition: 0.5s;
}

.valido {
    border: color.$dark_green solid .2em;
}

.invalido {
    border: color.$red solid .2em;
}


.invalid-feedback {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: color.$red;
}


.container_footer {

    &_left {
        @include display(display.$display_grid, display.$place_content_center);
    }

    &_center {
        @include display(display.$display_grid, display.$place_content_center);
    }

    &_right {

        @include display(display.$display_grid, display.$place_content_center);

        &_inner {
            h1 {
                @include text(font.$Montserrat, font_size.$betwen, font_weight.$bolder, font_alignment.$left, color.$white);
            }
        }
    }
}