@use '../../base/widths_heights/widths_heights'as wdt_hgt;
/*Padding - Margins */
@use '../../utilities/common/paddings/paddings'as pad;
@use '../../utilities/common/margins/margins'as mar;
/* Colors */
@use '../../utilities/common/colors/colors'as color;
/* Font properties */
@use '../../utilities/common/font_properties/fonts'as font;
@use '../../utilities/common/font_properties/font_sizes'as font_size;
@use '../../utilities/common/font_properties/font_weights'as font_weight;
@use '../../utilities/common/font_properties/font_alignment'as font_alignment;
/* Mixins */
@use '../../utilities/common/mixins/mixins'as *;

.vertical-nav {
    min-width: 20rem;
    width: 20rem;
    height: 100vh;
    position: fixed;
    background-color: color.$light_green;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    overflow-y: auto;
    z-index: 1050;
    margin-left: 0;

    &.active {
        margin-left: -20rem;
    }


    a {
        @include text(font.$Montserrat, font_size.$small, font_weight.$bolder, font_alignment.$left, color.$white);

        &:hover {
            transition: ease-in-out .2s;
            background-color: color.$dark_green;
        }
    }

    @media (max-width: 768px) {
        .vertical-nav {
            margin-left: -20rem;

            &.active {
                margin-left: -20rem;
            }
        }
    }
}