/* PRIMARY COLORS */
$black:hsl(0, 0%, 11%);
$white:hsl(210, 7%, 94%);
$red:hsl(0, 100%, 43%);
/* SECONDARY COLORS */
$green:hsl(84, 43%, 54%);
$dark_green:hsl(197, 49%, 31%);
$light_green:hsl(185, 100%, 34%);
$dark_orange:hsl(18, 88%, 54%);
$yellow:hsl(60, 73%, 60%);
$background_grid:hsl(225, 11%, 85%);