/*Widhts Heights */
@use '../../base/widths_heights/widths_heights'as wdt_hgt;
/*Padding - Margins */
@use '../../utilities/common/paddings/paddings'as pad;
@use '../../utilities/common/margins/margins'as mar;
/* display */
@use '../../utilities/common/display/display'as display;
/* Colors */
@use '../../utilities/common/colors/colors'as color;
/* Font properties */
@use '../../utilities/common/font_properties/fonts'as font;
@use '../../utilities/common/font_properties/_font_sizes.scss'as font_size;
@use '../../utilities/common/font_properties/font_weights'as font_weight;
@use '../../utilities/common/font_properties/font_alignment'as font_alignment;
/* Mixins */
@use '../../utilities/common/mixins/mixins'as *;

.modal {
    @include width_height(wdt_hgt.$w100, wdt_hgt.$h100);
    border-radius: .4em;

    &-header {
        @include width_height(wdt_hgt.$w100, wdt_hgt.$hauto);
        text-align: center;

        h1 {
            @include text(font.$Montserrat, font_size.$betwen, font_weight.$bolder, font_alignment.$center, color.$black);
        }
    }

    &-body {
        @include width_height(wdt_hgt.$w100, wdt_hgt.$h100);

        p {
            @include text(font.$Montserrat, font_size.$general, font_weight.$bolder, font_alignment.$justify, color.$black);
            line-height: 2em;
        }

        a {
            @include text(font.$Montserrat, font_size.$general, font_weight.$bolder, font_alignment.$left, color.$black);

            &:hover {

                @include text(font.$Montserrat, font_size.$general, font_weight.$bolder, font_alignment.$justify, color.$black);
                text-decoration: underline;
            }
        }

        button {
            border: color.$dark_green solid .2em;
            @include text(font.$Montserrat, font_size.$general, font_weight.$bolder, font_alignment.$center, color.$black);
        }

    }

    &-footer {
        @include width_height(wdt_hgt.$w100, wdt_hgt.$hauto);

        button {
            border: color.$dark_green solid .2em;
            @include text(font.$Montserrat, font_size.$general, font_weight.$bolder, font_alignment.$center, color.$black);
        }
    }

}